<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mars Mission</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/styles.css" type="text/css">
	</head>

	<body>
		<div class="containter" style="background-color: #C2B9B0;" >
			<div class="jumbotron">
				<h1 class="display-4">Mars Mission Data Collection</h1>
				<p class="lead">Using BeautifulSoup and Splinter, here are some of the most pertinent Mars information/ facts of today!</p>
				<p class="lead">
				  <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Newest Data!</a>
				</p>
			  </div>
			<!-- place all data in nice places -->
			<div class="row">
				<div class="col-md-12" style="margin: 10px;">
					<h2>Most Recent Article</h2>
					<hr class="my-4">
					<h4>{{ mars_data[0].news_titles[0] }}</h4>
					<h5>{{ mars_data[0].p_text[0] }}</h5>
					<br>
				</div>
			</div>
			<br>
			<h2 style="margin: 10px;">Featured Image</h2>
			<div class="row">
				<div class="col-md-6" style="margin: 10px;">
					<img src="{{ mars_data[1].featured_image_url }}" class="rounded" alt="featured image">
				</div>
				<div class="table col-md-5">
					<h2>Mars Facts</h2>
					{{ mars_data[2].mars_facts_table_html | safe}}
				</div>
			</div>
			<br>
			<h2 class="text-center">Mars Hemispheres</h2>
			<div class="row">
				<div class="col-md-6">
					<div class="card" style="padding:10px; margin: 5px; width: 30rem;">
						<img class="card-img-top" src="{{ mars_data[3].mars_hemisphere_image_urls[0].Cerberus_Hemisphere }}" alt="Cerberus_Hemisphere">
						<div class="card-body">
						  <p class="card-text">Cerberus Hemisphere</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card" style="padding:10px; margin: 5px; width: 30rem;">
						<img class="card-img-top" src="{{ mars_data[3].mars_hemisphere_image_urls[1].Schiaparelli_Hemisphere }}" alt="Schiaparelli_Hemisphere">
						<div class="card-body">
						  <p class="card-text">Schiaparelli Hemisphere</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card" style="padding:10px; margin: 5px; width: 30rem;">
						<img class="card-img-top" src="{{ mars_data[3].mars_hemisphere_image_urls[2].Syrtis_Major_Hemisphere }}" alt="Syrtis_Major_Hemisphere">
						<div class="card-body">
						  <p class="card-text">Syrtis Major Hemisphere</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card" style="padding:10px; margin: 5px; width: 30rem;">
						<img class="card-img-top" src="{{ mars_data[3].mars_hemisphere_image_urls[3].Valles_Marineris_Hemisphere }}" alt="Card image cap">
						<div class="card-body">
						  <p class="card-text">Valles Marineris Hemisphere</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>