<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mars Mission</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/styles.css"/>
	</head>

	<body>
		<div class="containter sub-body">
			<h1 class="jumbotron text-center">Mars Mission Data Collection
				<!-- links scrape route from app.py -->
				<a class="btn btn-info" href="/scrape" role="button">See New Data!</a> 
			</h1>
			<!-- place all data in nice places -->
			<div class="row">
				<div class="col-md-12">
					<!-- link to page? -->
					<h1>{{mars_data}}</h1>

				</div>
				<!-- {% for d in data%}
					<h3>{{d}}</h3>
				{% endfor %} -->
			</div>
		</div>
	</body>
</html>